$inter: "Inter", sans-serif;
$raleway: "Raleway", sans-serif;

//FONT SIZES
$xsmall: 1.2em;
$small: 1.6em;
$medium: 1.8em;
$large: 2.4em;
$xlarge: 3em;
$jumbo: 3.8em;

//PALETTE
$black: #2b2b2b;
$white: #ffffff;
$primary: #872b99;
$secondary: #4f4f4f;
$lighter: #bd4bff;;
$secondary-ligther: #999898 ;