html, body {
  width: 100%;
  
}

.section-home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: $jumbo;
    margin: 3rem;
    text-align: center;
  }
  
  .categories-section {
    text-align: center;
    margin: 2rem 0;

    &__scroll{
      position: relative;
   
    width: 100vw;
    white-space: nowrap;
    margin: clamp(5px, 2vw, 10px) auto;
    padding: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      display: none; 
    }
      
      &__list {
         display: inline-flex;
         gap: 2rem;
        margin: 1rem;
    
        &__item {
          padding: 1.5rem 3rem;
          border: 1px solid $black;
          border-radius: 5px;
          text-decoration: none;
          color: $white;
          font-size: $large;
          background-color: $black;
          cursor: pointer;
          transition: all .3s linear;
          display: inline-block; 
          white-space: nowrap; 
    
          &:hover {
            background-color: $white;
            color: $black;
          }
    
        }
      }

    }
  
  }
}

