
.header {
  background-color: $black;
  color: $white;
}

.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 56px;
  }
  &__img{
    width: 50%;
  }

  &__item {
    padding: .8rem;
    transition: all .3s linear;
    cursor: pointer;
    color: $white;
    font-size: $xsmall;

    &:hover {
      background-color: $white;
      color: $black;
      border-radius: 4px;
    }
  }

}

  
  