//estilos de Carrito Page 

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  h2{
    font-size: $xlarge;
    margin: 1.5rem;
  }

  .carrito-page {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 5rem;
    width: 100%;

    .carrito {
      width: 60%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-end;
      align-content: space-around;

      &__mensaje{
        width: 100%;
        padding: 1.5rem;
        background-color: beige;
        text-align: center;
        color: $secondary;
        font-size: $medium;
        font-weight: 500;
        border-top: 2px solid $primary;

      }

      &__table {
        width: 100%;
        border-collapse: collapse;
        margin: 2rem;

        th,
        td {
          border-bottom: 1px solid $secondary-ligther;
          padding: 0.4rem 0;
          text-align: center;
          font-size: $small;
          color: $secondary;
          font-weight: 600;
        }

        th {
          background-color: $white;
          color: $secondary;
          font-size: $medium;
          font-weight: 700;
        }

        .carrito-item {
          &__icon {
            color: $primary;
            font-size: $small;
            margin-right: 2rem;
            cursor: pointer;
          }

          &__picture {
            position: relative;

            &__img {
              height: 100px;
              object-position: center;
              object-fit: contain;
            }
          }
        }

        button {
          background-color: $secondary;
          color: $white;
          border: none;
          width: 2.5rem;
          height: 2.5rem;
          cursor: pointer;
          transition: background-color 0.3s;
          &:hover {
            background-color: $lighter;
          }
        }

        span {
          margin: 1rem;
          text-align: center;
          font-size: $xsmall;
        }
      }
      &__button{
        margin: 0 1em 1em ;
      }

    }
    .resumen {
      width: 30%;
      margin: 3rem;
      padding: 2rem 0;
      display: flex;
      flex-direction: column;
      align-content: center;
      flex-wrap: wrap;
      border: 1px solid $secondary-ligther;
      box-shadow: rgba(0, 0, 0, 0.16) 2px 2px 2px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

      h3 {
        text-align: center;
        font-size: $large;
      }

      &__table {
        width: 90%;
        border-collapse: collapse;
        margin: 1rem 0;
        th,
        td {
          padding: 0.5em;
          font-size: $small;
        }

        td {
          text-align: right;
          font-weight: 800;
          color: $primary;
        }

    }
    button{
        margin: 0 3rem;
    }
    }
  }
}

/* Estilos del modal */
.modal {
  display: block;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 60%;
  height: auto;
  margin: 0 auto;
  position: relative;
  z-index: 1000;

  &__cards{
    display: flex;
    flex-flow: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 5px 2px;
    padding: 20px;

    &__form{
      display: flex;
      flex-direction: column;
      gap: 25px;

      input{
      border-width: 0px 0px 2px;
      border-top-style: initial;
      border-right-style: initial;
      border-left-style: initial;
      border-top-color: initial;
      border-right-color: initial;
      border-left-color: initial;
      border-image: initial;
      outline: none;
      border-bottom-style: solid;
      border-bottom-color: black;
      transition: 0.3s;
      height: 30px;
      border-radius: 0px;
      font-size: $medium;
}
      &__div{
        width: 100%;
        display: flex;
        flex-direction: row;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        gap: 30px;
      }
    }
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;


  inset: 0px;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 300;
}

